<div class="container">
    <div *ngIf="!registerMode" class="text-center">
        <div>Home</div>
        <button (click)="registerToggle()">Register</button>
        <button>Learn more</button>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                Register now
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>  
                <!-- [usersFromHomeComponent]="users" Parent pass data to child -->
            </div>
        </div>
    </div>
</div>