<ng-container>
    <button (click)="get404Error()">Test 404 error</button>
    <button (click)="get400Error()">Test 400 error</button>
    <button (click)="get500Error()">Test 500 error</button>
    <button (click)="get401Error()">Test 401 error</button>
    <button (click)="get400ValiationError()">Test 400Vali error</button>

    <div *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
</ng-container>